.local-buttons-container p{
    text-align: left;
    margin-left: 0%;
}

h1{
    color: white;
    
}

li{
    color: white;
    font-size: large;
}

.mere{
    color: white;
    font-weight: bold;
    cursor: pointer;
}