body{
    background-color: #00163b;
}
.mybookings-container{
    display: flex;
    flex-direction: row;
    margin-top: 75px;
    background-color: #00163b;
    align-items: center;
    justify-content: center;

}
.mybookings-text{
    color: white;
    text-align: center;
    margin-bottom: 40px;
      
        
}

.mybookings-bokse{
    display: flex;
    flex-direction: column;
    margin-top: 75px;
   
    
}

.myboookings-boks1, .myboookings-boks2{
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
    background: rgb(217, 217, 217, 20%);
    background-color: rgb(217, 217, 217, 20%);
    border-radius: 15px 15px 15px 15px;
    padding: 20px;
}


.datoen{
    display: flex;   
    flex-direction: row;
    justify-content: center;
    margin-bottom: -40px;
    font-size: 35px;
}

.mybookings-info p{
    color: white;
    padding-right: 500px;   
    padding-left: 20px; 
    margin-left: 15px 30px;
    text-align: left;
}

.mybookings-buttons{
    padding-right: 20px; 
    display: flex;   
    flex-direction: column;
    justify-content: center;
}

.changebooking-button{
    padding: 20px;
}
.deletebooking-button{
    padding: 20px;
}

.inputfelter{
display: flex;
justify-content: center;
}

.Lokale-felt, .Dato-felt{
    color: white;
    text-align: center;
}

.Lokale-felt, .Dato-felt > label{
    font-weight: bold;
}

.submit-felt{
   display: flex;
   justify-content: center;
}

