.local-buttons{
    display: flex;
}

.local-buttons > h2{
    display: flex;
    justify-content: center;
}

.mere-link-button{
    display: flex;
    justify-content: center;
    cursor: pointer;
}

form{
    display: flex;
    flex-direction: row;
    
}

.calender{
    display: flex;
    flex-direction: row;
    padding-top: 5%;
    margin-bottom: 10px;
}

.calender-img{
  background: white url(../../atoms/Kalender.png) left no-repeat;
  text-align: right;
  height: 40px;
  width: 130px;
  margin-left: 30px;
  margin-right: 5px;
  background-size: 20px;
  background-origin: content-box;
  padding-left: 10px;
}

.datepicker{
    border:1px solid #fbb040;
    background-color: #00163b;
    color: #fbb040;
}

.mybookingsBox{
    justify-content: center;
}

.newboooking {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
    background: rgb(217, 217, 217, 20%);
    background-color: rgb(217, 217, 217, 20%);
    border-radius: 15px;
    padding: 20px;
    margin-right: 30px;
    margin-left: 30px;
    
}

.date{
    width: 40%;
}

.time{
    width: 40%;
}

.type{
    width: 40%;
}

.seats{
    width: 40%;
}

.local-buttons-container{
    margin-left: 30px;
    color: white;
    font-size: medium;
    font-weight: bold;
}

.mere{
    margin-left: 30px;
}

h1{
    text-align: center;
    color: white;
}

.knap{
    display: flex;
    cursor: pointer;
    margin-right: 80%;
}

.mybookings-date{
    color: white;
    display: flex;
    flex-direction: column;    
    justify-content: center;
    padding: 20px; 
    padding-right: 40px; 
    border-right: 2px solid rgb(251, 176, 64, 43%); 
    
}

.ud-knapper{
    margin-left: 30%;
    margin-top: 30px;
    margin-bottom: 30px;
}


.update-knap{
   margin-bottom: 60%;
   cursor: pointer;
}

.delete-knap{
    cursor: pointer;
}



