.h1{
    display: flex;
    justify-content: center;
}



.local-buttons-container{
    display: flex;
    flex-direction: column;

}

.local-buttons > li{
    display: flex;
    flex-direction: row;
}



.mere p{
    text-align: left;
    margin-left: 0%;


}



h1{
    color: white;
    text-align: center;
    
}

li{
    color: white;
    font-size: large;
 
}

.mere{
    color: white;
    font-weight: bold;
    cursor: pointer;
}

